
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container div {
   max-width: 500px;
   cursor: pointer;
   
}
#spinner{
    display: none;
    position:absolute;
    
}
#results {
  
    display: none;
 
}




 @media screen and (max-width:667px){
    .container h1{
        font-size: 22px;
        
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.container div{
    max-width:230px
  
    
}

    
} 