
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container div {
   max-width: 500px;
   
}



 @media screen and (min-width:320px )and (max-width:767px){
    .container h1{
        font-size: 22px;
        
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.container div{
    max-width:230px
  
    
}
    
} 